.home{

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 90%;

    .title{
        grid-column: 1/2;
        grid-row: 1/2;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2.5rem;
        font-weight: 600;
    }


    .story_lists{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        min-height: fit-content;

        margin-bottom: 15vh;

        .story_list{
            grid-column: 1/2;
            grid-row: 2/3;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1.5vh;
            margin: 2vh 0;
            min-width: 400px;
            
            .loading_message{
                align-self: center;
                margin-top: 10vh;
                font-size: 1.2rem;
            }
        }
    }
}