.header{
    width: 100vw;
    min-height: 10vh;
    background-color: coral;


    .pages{
        height: 10vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        a{
            text-decoration: none !important;
            color: black;
        }
    }
}

.footer{
    height: 10vh;
    width: 100vw;
    background-color: coral;
    display: flex;
    align-items: center;
    justify-content: center;
}


